<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dt
d">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head dir="ltr" id="head-id" lang="EN" profile="http://gmpg.org/xfn/11">
    <title>Oblique Strategies (from Brian Eno and Peter Schmidt)</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="all"/>
</head>

<body>
    <div>
    <p> {{ strategy }} </p>
    </div>
</body>
</html>
